.notification-menu {
  padding: 10px 65px;
  margin-top: 2px;
  cursor: pointer;
  white-space: nowrap;
  background-color: white !important;
  outline-color: black;
  border-bottom:1px solid #eee;
}
