<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Voting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Cloak: {{cloakCount}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Stone: {{stoneCount}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Wand: {{wandCount}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-start ion-margin-top">
      <ion-col>
        <p class="ion-padding-bottom">Url to vote:</p>
        <p>Cloak: <a href="https://localhost:7156/api/voting?type=cloak" target="_blank">https://localhost:7156/api/voting?type=cloak</a></p>
        <p>Stone: <a href="https://localhost:7156/api/voting?type=stone" target="_blank">https://localhost:7156/api/voting?type=stone</a></p>
        <p>Wand: <a href="https://localhost:7156/api/voting?type=wand" target="_blank">https://localhost:7156/api/voting?type=wand</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
